name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTDOCFLAGS: -D warnings
  CC: clang
  CXX: clang++

# Actions in this workflow must be: within a repository that belongs to your
# Enterprise account, created by GitHub, verified in the GitHub Marketplace, or
# matching the following: EnricoMi/publish-unit-test-result-action@v2,
# andstor/file-existence-action@v1, andstor/file-existence-action@v3,
# foundriesio/lava-action@*, homebrew/actions/setup-homebrew@master,
# jgehrcke/github-repo-stats@release, newrelic/repolinter-action@v1,
# thollander/actions-comment-pull-request@v3, todogroup/repolinter-action@v1
jobs:

  format:
    name: Ensure 'cargo fmt' has been run
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: cargo fmt -- --check

  lint_check:
    name: Ensure 'cargo clippy' has no warnings
    runs-on: ubuntu-latest
    needs: format
    steps:
    - uses: actions/checkout@v4
    - run: cargo clippy --all-targets -- -D clippy::all -D unused -D warnings

  build:
    name: ${{ matrix.job.target }}
    runs-on: ${{ matrix.job.os }}
    needs: [ format, lint_check ]
    strategy:
      fail-fast: false
      matrix:
        job:
          - { target: x86_64-unknown-linux-musl , os: ubuntu-latest }
          - { target: aarch64-unknown-linux-musl, os: ubuntu-24.04-arm }

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Install Rust toolchain
      run: rustup target add ${{ matrix.job.target }}

    - name: Show version information (Rust, cargo, GCC)
      shell: bash
      run: |
        ${CC} --version || true
        ${CXX} --version || true
        rustup -V
        rustup toolchain list
        rustup default
        cargo -V
        rustc -V

    - name: Build
      run: cargo build --target ${{ matrix.job.target }} --profile opt

  tests:
    needs: build
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/checkout@v4
    - name: Run unit tests
      run: cargo test
    - name: Run Rust+C integration test
      env:
        IDLC: "../target/debug/idlc"
      run: |
        cargo build
        cd tests
        cargo test
        cargo test --release
        rustup toolchain install nightly
        rustup +nightly component add rust-src miri
        cargo clean && RUSTFLAGS="-Zsanitizer=address" CFLAGS="-fsanitize=address" CXXFLAGS="-fsanitize=address" cargo +nightly test -Zbuild-std --target $(rustc -vV | awk '/^host/ { print $2 }')
        cargo clean && RUSTFLAGS="-Zsanitizer=address" CFLAGS="-fsanitize=address" CXXFLAGS="-fsanitize=address" cargo +nightly test -Zbuild-std --target $(rustc -vV | awk '/^host/ { print $2 }') --release
        cargo clean && cargo +nightly miri test

    - name: Upload statically linked compiler
      uses: actions/upload-artifact@v4
      with:
        name: minkidl-${{ matrix.job.target }}
        path: target/${{ matrix.job.target }}/opt/idlc

  documentation:
    runs-on: ubuntu-latest
    needs: format
    steps:
    - uses: actions/checkout@v4
    - name: Documentation
      run: cargo doc --document-private-items
